.gitignore

# Ignore PDF files
*.pdf

# Ignore Word documents
*.doc
*.docx  

#
*.md
*.zip

/Lab/Lab4/StudentManagement/target/
/Lab/Lab5/StudentManagement/target/
/Lab/Lab4/StudentManagement/nbproject/
/Lab/Lab6/StudentManagement/StudentManagement/target/
